body {
  background: cyan;
  max-width: 600px;
}

h1 {
  font-size: 20px;
}

* {
    border: 1px solid white;
  }
  /*using * selects all the elements one the html file*/

  p {
    color: green;
  }

@media
